cvc3
trecs
Makefile.config
COMMIT
depend
config.status
environment.ml
configure
aclocal.m4
autom4te.cache
option.conf
*.opt
*.byte
*lexer.ml
*parser.ml
*parser.mli
*parser.output
*.annot
*.cma
*.cmi
*.cmo
*.cmx
*.o
*.log
*.trecs_out
*.hors
*.cmt
*.cmti
*parser.automaton
*parser.conflicts
*~
wiki/
