cvc3
trecs
horsat
horsatp
oc
Makefile.config
DONE
COMMIT
depend
config.status
environment.ml
configure
aclocal.m4
autom4te.cache
option.conf
*.opt
*.byte
*.top
parser_wrapper.ml
*lexer.ml
*parser.ml
*parser.mli
*parser.output
*.annot
*.cma
*.cmi
*.cmo
*.cmx
*.o
*.log
*.trecs_out
*.horsat_out
*.hrs
*.hors
*.cegar
*.dot
*.cmt
*.cmti
*parser.automaton
*parser.conflicts
*~
*.omc
.omakedb
.omakedb.lock
\#*
*.smt
*.byt
*.bin
wiki/
mochi_bin/bin/
mochi_bin/lib/
*.oc
*.oc_out
*.test_out
*.horsatp_out
*.error_out
*.error_hors
*.hcs
gmon.out
fpat/
tmp/
