cvc3
trecs
mochi.opt
Makefile.config
depend
aclocal.m4
config.status
environment.ml
autom4te.cache
*lexer.ml
*parser.ml
*parser.mli
*parser.output
*.annot
*.cmi
*.cmo
*.cmx
*.o
*.log
*.trecs_out
*.hors
*.cmt
*.cmti
*parser.automaton
*~
