CPP=/lib/cpp -P
RM=rm -f
CP=cp -p -f
TOPDIR=.
CONFIGDIR=$(TOPDIR)/config

LIBDIR=/usr/local/lib/ocaml/

CAMLCOMPILERBIN=ocamlopt
CAMLCOMPILERBYT=ocamlc
CAMLFLAGSBIN=-w A -warn-error Ae
CAMLFLAGSBYT=-g $(CAMLFLAGSBIN)

CAMLBIN=$(CAMLCOMPILERBIN) $(CAMLFLAGSBIN)
CAMLBYT=$(CAMLCOMPILERBYT) $(CAMLFLAGSBYT)

CAMLLIBRBYT=ocamlmklib
CAMLLIBRBIN=ocamlmklib

CAMLLEX=ocamllex
CAMLYACC=ocamlyacc
CAMLDEP=ocamldep -pp camlp4o

#include "Imake.rules"

all:: byt bin

/**/# (begin Imakefile)
#include INCLUDE_IMAKEFILE
/**/# (end Imakefile)

clean::
	$(RM) *.cmi *.cmix *.cmo *.cmx *.o a.out* *~ *.byt *.bin #*#

depend::

beforedepend::

mfile:
	imake -I$(CONFIGDIR)

makefiles:: beforedepend mfile depend

.SUFFIXES: .mli .cmi .ml .mly .mll .cmo .cmx .cma .cmxa

.mli.cmi:
	$(CAMLBYT) -c $<

.ml.cmo:
	$(CAMLBYT) -c $<

.ml.cmx:
	$(CAMLBIN) -c $<

/**/# Generated dependencies below
