.DS_Store

*.o
*.out
*.byte*
*.opt
*.a

*.log
.#*
*.swp
*.1~
*.2~
*.3~
*.4~
*.5~
*.6~
*.7~
*.8~
*.9~
*.10~
*.11~
*.12~
*.13~
*.14~
*.15~
*~
#*
*#

config.cache
config.log
config.status
configure
Makefile
/META
.depend
doc/
autom4te.cache/
._d/*
._ncdi/*

MLParser.ml
MLParser.mli
MLParser.output
MLReflexer.ml
MLRefparser.ml
MLRefparser.mli
MLRefparser.output
regTreeExpLexer.ml
regTreeExpParser.ml
regTreeExpParser.mli
regTreeExpParser.output
javaLexer.ml
javaParser.ml
javaParser.mli
javaParser.output
HCCSLexer.ml
HCCSParser.ml
HCCSParser.mli
HCCSParser.output
hyloLexer.ml
hyloParser.ml
hyloParser.mli
hyloParser.output
hyloLexer2.ml
hyloParser2.ml
hyloParser2.mli
hyloParser2.output
sexpLexer.ml
sexpParser.ml
sexpParser.mli
sexpParser.output
tcontLexer.ml
tcontParser.ml
tcontParser.mli
tcontParser.output

*.annot
*.cmi
*.cmt
*.cmti
*.cmo
*.cmx
*.cma
*.cmxa

Makefile.config
cvc3
DMC/*
ML compiler/*
ML interpreter/*
OCaml/*
data/*
fj2hors/*
invinf/*
funC/blast
rcaml_bin/

*.trecs_out
*.hors
*.smt
*.dot

*.formula

exp.csv

dllfpat.so