p {
    font-size: 1.5em;
}

.mochi-editor {
    height: 400px;
    border: solid 1px black;
}

.mochi-form {
    margin: 10px;
}

.navbar {
  border-radius: 0px;
}

.plus {
    background:#333;
    top:7px;
    height:40px;
    width:40px;
    display:inline-block;
    position:relative;
    transform: scale(0.7);
}
.plus:before, .plus:after {
    content:'';
    height:6px;
    width:28px;
    display:block;
    background:#fff;
    border-radius:10px;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    position:absolute;
    top:17px;
    left:6px;
}
.plus:after {
    height:28px;
    width:6px;
    top:6px;
    left:17px;
}

.minus {
    background:#333;
    top:7px;
    height:40px;
    width:40px;
    display:inline-block;
    position:relative;
    transform: scale(0.7);
}
.minus:before {
    content:'';
    height:6px;
    width:28px;
    display:block;
    background:#fff;
    position:absolute;
    top:17px;
    left:6px;
    border-radius:10px;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
}
